* {
  margin: 0px;
  padding: 0px;
  font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
/* Navbar */
.navbar {
  padding: 30px 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 0px 4px 5px 0px rgb(191 122 122 / 71%);
}
.logo {
  width: 50px;
  margin: 0px 20px;
}
.logo img {
  height: 50px;
}

/* Left Side */
.leftnav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftnav ul {
  display: flex;
  list-style: none;
}

.leftnav ul li a {
  font-weight: 600;
  margin: 0px 20px;
  text-decoration: none;
  font-size: 14px;
  color: black;
}

/* Right Nav */
.right-nav {
  display: flex;
  position: absolute;
  align-items: center;

  right: 5%;
}
.right-nav div {
  margin: 0px 20px;
}

.right-nav button {
  border: 1px solid black;
  border-radius: 24px;
  padding: 5px 20px;
  margin: 10px;
  font-weight: 500;
}
#join {
  background: black;
  color: white;
}
